.t-project-menu-tabs {
	border-bottom-color: #a8c97f;

	.t-project-menu-tab {

	}
	.t-project-menu-tab.s-current {
		font-weight: bold;
		background-color: #a8c97f;
	}
}

.t-content-menu-items {
	border-color: #a8c97f;

	.t-content-menu-item {
	}
	.t-content-menu-item.s-current {
		font-weight: bold;
		background-color: #a8c97f;
		border-color: #a8c97f;
	}
}

