table.t-project-list {

	tbody {

		tr:nth-child(2n) {
			background-color: #e8ecef;
		}
		tr:hover {
			background-color: #c7dc68;
		}
	}
}

table.t-simple-list {

	tbody {

		tr:nth-child(2n) {
			background-color: #e8ecef;
		}
	}

	tbody.t-highlight {

		tr:hover {
			background-color: #c7dc68;
		}
	}
}

