.l-page {
	.l-header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 2em;
	}

	.l-left-menu {
		position: fixed;
		top: 0;
		left: 0;
		width: 20em;
		height: 200vh;
		margin-top: 2em;
	}

	.l-content {
		margin-top: 2em;
		margin-left: 20em;
	}
}

