.m-dialog-box {
	padding: 1em;
	border: 1px solid #000000;
	border-radius: 4px;
	background-color: #ffffff;
}

.m-setting-menu {
	border-bottom: 2px solid #000000;
	border-left: 2px solid #000000;
	border-bottom-left-radius: 4px;
	background-color: #ffffff;
}

