.m-project-menu-tabs {
	display: flex;
	justify-content: space-between;

	border-bottom: 2px solid black;

	.m-project-menu-tab {
		display: inline-block;
		flex: auto;

		padding-top: 0.6em;
		padding-bottom: 0.4em;
		text-align: center;
		cursor: pointer;
	}
}

.m-content-menu-items {
	display: flex;
	flex-direction: column;

	padding: 2em 0;
	border-right: 2px solid black;

	.m-content-menu-item {
		display: inline-block;

		padding: 0.6em 0.4em 0.4em;
		cursor: pointer;
	}
	.m-content-menu-item.s-current {
		border-bottom: 2px solid black;
	}
}

