.m-page-header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	.m-app-title {
		height: 100%;
		margin: 0 1em;

		display: flex;
		flex: init;
		justify-content: space-between;
		align-items: center;
	}

	.m-space {
		height: 100%;

		display: flex;
		flex: auto;
	}

	.m-options {
		height: 100%;
		margin: 0 1em;

		display: flex;
		flex: init;
		align-items: center;
	}
}

.m-content-area {
	padding: 1em;

	.m-content-title {
		margin-bottom: 1em;
		font-size: 2em;
	}

	.m-content-body {
	}
}

.m-section {
	.m-section-header {
		padding-bottom: 0.2em;
		margin: 1em 0;
		border-bottom: 1px solid lightgray;

		font-size: 1.4em;
	}

	.m-section-body {
	}
}

