.e-square-button {
	display: inline-block;
	padding: 0.4em 0.6em 0.3em;

	background-color: #dddddd;
	border: 1px solid black;
	border-radius: 3px;
	cursor: pointer;
}
.e-square-button:hover {
	background-color: #bbbbbb;
}
.e-square-button:active {
	background-color: #999999;
}

