table.e-list {
	cursor: pointer;
	border-collapse: collapse;
	border: solid 1px black;

	thead {

		tr {
			border-bottom: solid 1px black;

			th {
				padding: 0.4em 1em;
			}
		}
	}

	tbody {

		tr {

			td {
				padding: 0.4em 1em;
			}
		}
	}

	th.e-project-name {
		min-width: 200px;
	}
}

