table.e-list {
	border-collapse: collapse;
	border: solid 1px black;

	thead {

		tr {
			border-bottom: solid 1px black;

			th {
				padding: 0.4em 1em;
			}
		}
	}

	tbody {

		tr {

			td {
				padding: 0.4em 1em;
			}
			td.e-no-right-padding {
				padding-right: 0;
			}
			td.e-no-left-padding {
				padding-left: 0;
			}
		}

		tr.e-selectable {
			cursor: pointer;
		}
	}

	th.e-project-name {
		min-width: 200px;
	}
}

